this is a file for testing data and its type
regenerate the dataset

In [1]:
import pandas as pd
df1 = pd.read_csv("transaction1.csv");
df2 = pd.read_csv("transaction1_1.csv");
df1.head()

,Class,address,age,block,creator,direction,fromAddress,inter_direction,toAdd&fromAdd,toAddress,txFee,txhash,txn_type,type,value
0,1,0x4e8ecf79ade5e2c49b9e30d795517a81e0bf00b8,1533230860,6078071.0,0xf39e044e1ab204460e06e87c6dca2c6319fc69e3,OUT,0x4e8ecf79ade5e2c49b9e30d795517a81e0bf00b8,2,0xaa5dd1ac6e16e5f34c88bb7b3d67938d22ebe9a9&0x4...,0xaa5dd1ac6e16e5f34c88bb7b3d67938d22ebe9a9,0.0,0xd15071c12f74f6f2a391c34ae752b41c51f41b5269e0...,internal,call,0.124126004617069 Ether
1,1,0x4e8ecf79ade5e2c49b9e30d795517a81e0bf00b8,1533114061,6070106.0,0xf39e044e1ab204460e06e87c6dca2c6319fc69e3,OUT,0x4e8ecf79ade5e2c49b9e30d795517a81e0bf00b8,1,0xaa5dd1ac6e16e5f34c88bb7b3d67938d22ebe9a9&0x4...,0xaa5dd1ac6e16e5f34c88bb7b3d67938d22ebe9a9,0.0,0x3f9725f608e16c03643135f17dbbbc8f8e411878bd2b...,internal,call,0.925468764800427 Ether
2,1,0x4e8ecf79ade5e2c49b9e30d795517a81e0bf00b8,1533221339,0.0,0xf39e044e1ab204460e06e87c6dca2c6319fc69e3,OUT,0x4e8ecf79ade5e2c49b9e30d795517a81e0bf00b8,1,0xaa5dd1ac6e16e5f34c88bb7b3d67938d22ebe9a9&0x4...,0xaa5dd1ac6e16e5f34c88bb7b3d67938d22ebe9a9,0.0,0x651a276a1ade9b5d034dfff404af2c0d5b9dc1ba97f3...,internal,call,0.10045626381611 Ether
3,1,0x4e8ecf79ade5e2c49b9e30d795517a81e0bf00b8,1533267178,6080519.0,0xf39e044e1ab204460e06e87c6dca2c6319fc69e3,OUT,0x4e8ecf79ade5e2c49b9e30d795517a81e0bf00b8,1,0xaa5dd1ac6e16e5f34c88bb7b3d67938d22ebe9a9&0x4...,0xaa5dd1ac6e16e5f34c88bb7b3d67938d22ebe9a9,0.0,0xaaf9c5714a964c4d447dc0a6226ac2347ddfa188f0b9...,internal,call,0.08338438349577 Ether
4,1,0x4e8ecf79ade5e2c49b9e30d795517a81e0bf00b8,1533214413,6076935.0,0xf39e044e1ab204460e06e87c6dca2c6319fc69e3,OUT,0x4e8ecf79ade5e2c49b9e30d795517a81e0bf00b8,2,0xaa5dd1ac6e16e5f34c88bb7b3d67938d22ebe9a9&0x4...,0xaa5dd1ac6e16e5f34c88bb7b3d67938d22ebe9a9,0.0,0xe563b748ac0bfb92cd2bd43f36a39735a306848dac99...,internal,call,0.431031298030744 Ether

In [3]:
len(df1[df1['txn_type'] == 'internal'])/len(df1)

0.40613789375399284

In [4]:
len(df2[df2['txn_type'] == 'internal'])/len(df2)

1.0

In [5]:
df2[df2['txn_type'] == 'external']

Empty DataFrame
Columns: [toAdd&fromAdd, address, age, block, direction, fromAddress, toAddress, txFee, txhash, txn_type, type, value, Class, creator, inter_direction]
Index: []

In [7]:
len(df2[df2['Class'] == 1])/len(df2)

0.8010713581640075

In [13]:
len(df1[df1['Class'] == 1])/len(df1)

0.45854833161334707

In [14]:
len(df1)

40698

In [15]:
len(df2)

147103

In [16]:
df = df2.append(df1[df1['txn_type'] == 'external'])
len(df[df['txn_type'] == 'internal'])/len(df)

/Users/julia98/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

0.8588852818907936

below is the test of generating data
1. combine df1 and df2
2. generate dataset

In [17]:
merge = df

In [18]:
import numpy as np
import pandas as pd
# get sample ponzi address
a = merge[merge['Class'] == 1]
ponzi_lenth = len(a['toAdd&fromAdd'].drop_duplicates())

size = 10000
z = a['toAdd&fromAdd'].drop_duplicates().sample(n=size)
z = pd.DataFrame({'toAdd&fromAdd':z})
x = pd.merge(z,a,on='toAdd&fromAdd')

# get sample non-ponzi address
b = merge[merge['Class'] == 0]
b[b['direction'] == 'IN']['toAddress'].append(b[b['direction'] == 'OUT']['fromAddress']).drop_duplicates()

c = b['toAdd&fromAdd'].drop_duplicates().sample(n=size)

c = pd.DataFrame({'toAdd&fromAdd':c})
d = pd.merge(c,b,on='toAdd&fromAdd')

In [23]:
len(d[d['txn_type'] == 'internal'])/len(d)

0.6009219750076197

In [24]:
d.head()

,toAdd&fromAdd,Class,address,age,block,creator,direction,fromAddress,inter_direction,toAddress,txFee,txhash,txn_type,type,value
0,0xd0a6e6c54dbc68db5db3a091b171a77407ff7ccf&0x2...,0,0xd0a6e6c54dbc68db5db3a091b171a77407ff7ccf,1527694617,5705224.0,0x0008ec9f540ceb20cda44ec8503981ff58a3361b,IN,0x2331d728db52feeb1c8d57e4a3cc8f201282cec5,3,0xd0a6e6c54dbc68db5db3a091b171a77407ff7ccf,0.000468,0x217860f89fcc3cc52fe10240bfb53babc63f5f7a9081...,external,0,0.25 Ether
1,0xd0a6e6c54dbc68db5db3a091b171a77407ff7ccf&0x2...,0,0xd0a6e6c54dbc68db5db3a091b171a77407ff7ccf,1527694302,5705202.0,0x0008ec9f540ceb20cda44ec8503981ff58a3361b,IN,0x2331d728db52feeb1c8d57e4a3cc8f201282cec5,3,0xd0a6e6c54dbc68db5db3a091b171a77407ff7ccf,0.004528,0x6eb29450a8a9eed10e83cba3bb216c66d42719c242de...,external,0,0 Ether
2,0xd0a6e6c54dbc68db5db3a091b171a77407ff7ccf&0x2...,0,0xd0a6e6c54dbc68db5db3a091b171a77407ff7ccf,1528268296,5742627.0,0x0008ec9f540ceb20cda44ec8503981ff58a3361b,IN,0x2331d728db52feeb1c8d57e4a3cc8f201282cec5,3,0xd0a6e6c54dbc68db5db3a091b171a77407ff7ccf,0.007500,0xb2aac51efc65a445d072489e19997d1dd987892ddcf8...,external,0,0 Ether
3,0xba2184520a1cc49a6159c57e61e1844e085615b6&0x6...,0,0xba2184520a1cc49a6159c57e61e1844e085615b6,1509005977,4433970.0,0x97202b21c749b1cbf2b7bbbf23a6c60205b29e1f,IN,0x63d6907b9e853b773cc803b2590a0b7194bb9c93,3,0xba2184520a1cc49a6159c57e61e1844e085615b6,0.002025,0x751acf1a67be89b98e734eb76c401e7afd237fa29e79...,external,0,0 Ether
4,0xba2184520a1cc49a6159c57e61e1844e085615b6&0x6...,0,0xba2184520a1cc49a6159c57e61e1844e085615b6,1507923912,4363992.0,0x97202b21c749b1cbf2b7bbbf23a6c60205b29e1f,IN,0x63d6907b9e853b773cc803b2590a0b7194bb9c93,3,0xba2184520a1cc49a6159c57e61e1844e085615b6,0.000370,0x794b46c6bfe3ce547652cb98e854b776655d8c3207b5...,external,0,0 Ether

In [29]:
txn_short = x.append(d)
txn_short.to_csv('transaction1_2.csv',index=False)

In [34]:
import pandas as pd
#generate 1to1 txn files
df = pd.read_csv("transaction1_2.csv")
add = df['toAdd&fromAdd'].drop_duplicates()
for each in add:
    df[df['toAdd&fromAdd'] == each].drop(['fromAddress','toAddress','toAdd&fromAdd'],axis=1).to_csv('subtxn3/'+each+'.csv',index=False)

In [32]:
len(txn_short[txn_short['Class'] == 0])/len(txn_short)

0.18629211409753224

In [31]:
txn_short.head()

,toAdd&fromAdd,Class,address,age,block,creator,direction,fromAddress,inter_direction,toAddress,txFee,txhash,txn_type,type,value
0,0x536a6ba0d913d5d6a4ce2c6eb7ed0de3c0f0b89e&0xc...,1,0x536a6ba0d913d5d6a4ce2c6eb7ed0de3c0f0b89e,1537167027,6348922.0,0xb648cc3367571c9166e966d1eb97de3f9ebfb8fd,IN,0xc810e88bab3b9621eac10f3894834cf4fb5587de,3,0x536a6ba0d913d5d6a4ce2c6eb7ed0de3c0f0b89e,0.000625,0x0922ce2b3cb84f011e803e7e96a63149e38140f125f2...,external,0,0.31 Ether
1,0x536a6ba0d913d5d6a4ce2c6eb7ed0de3c0f0b89e&0xc...,1,0x536a6ba0d913d5d6a4ce2c6eb7ed0de3c0f0b89e,1537327623,6360181.0,0xb648cc3367571c9166e966d1eb97de3f9ebfb8fd,IN,0xc810e88bab3b9621eac10f3894834cf4fb5587de,3,0x536a6ba0d913d5d6a4ce2c6eb7ed0de3c0f0b89e,0.000349,0x91568ccc506e7d2f386d0e0a9f8ad7a010b4035e1411...,external,0,0 Ether
2,0x356eaf616ba5f81340b79c48c3ef5f78e5cf2da9&0x4...,1,0x4e8ecf79ade5e2c49b9e30d795517a81e0bf00b8,1532724197,0.0,0xf39e044e1ab204460e06e87c6dca2c6319fc69e3,OUT,0x4e8ecf79ade5e2c49b9e30d795517a81e0bf00b8,1,0x356eaf616ba5f81340b79c48c3ef5f78e5cf2da9,0.000000,0x8dbdcb74c5819e966e9ebf8105c203ffb4e703757019...,internal,call,1.271239559469803 Ether
3,0x49c3019b7a83b3c77a823255533975969027308d&0xb...,1,0x49c3019b7a83b3c77a823255533975969027308d,1476410141,2438074.0,0xab914e7b04f1b6ed397dbce175eec827563c91bd,IN,0xb519dcec0c66f23620c94c521fde9ea4f9c1132e,2,0x49c3019b7a83b3c77a823255533975969027308d,0.000000,0x4574eb6904f367caa3b3d02aac4bf03a8cb4463fcf2b...,internal,suicide,0 Ether
4,0x75fba7634f1f8fa84653b3e448d580c889850673&0xf...,1,0xf00e5a59fde1cb2ead96a8be7711abc3f981e0f1,1537867659,0.0,0x96bb98183e5562913e72613c1979d0a13f8ec76b,OUT,0xf00e5a59fde1cb2ead96a8be7711abc3f981e0f1,2,0x75fba7634f1f8fa84653b3e448d580c889850673,0.000000,0x8b468186e1c5bd8e33b97494c94b9c68fde274653489...,internal,call,0.122222222222222 Ether

In [33]:
len(txn_short['toAdd&fromAdd'].drop_duplicates())

20000